body {
  font-family: sans-serif;
  font-size: large;
  text-align: center;
}

button {
  font-size: x-large !important;
  padding: 5px 10px;
}

#squirrel-dialog {
  background: #666;
  border: 2px solid black;
  color: white;
  left: 50%;
  padding: 50px 200px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

#squirrel-dialog label {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

#squirrels-list {
  padding: 0;
}

#squirrels-list li {
  background: #9CC;
  border: 2px solid black;
  list-style-type: none;
  margin: 10px auto;
  padding: 20px;
  width: 400px;
}

#squirrels-list li .name {
  font-size: x-large;
  font-weight: bold;
}

#squirrels-list li button {
  margin: 10px 5px 0 0;
}
